app .hide {
    display: none;
}

app .tab-page > .section:first-child {
    padding-top: 11px;
}

app .tab-page > .section > .container > .section {
    padding-top: 22px;
    padding-bottom: 22px;
}

app .tab-page .section > .container > .contents {
    padding-top: 11px;
    padding-left: 22px;
}
